/*pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  display: block;
  padding: 0 1em 1em 1em;
  margin: 5px;
  background-color: lightGrey;
  font-size: 1.3em !important;
  line-height: 1em;
  font-weight: normal;
}
code {
 display: block;
 padding: 0.5em 1em;
 border: 1px solid #bebab0;
}

*/


/*code, samp, kbd {*/
pre {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
  }
/*pre code {*/
pre {
  line-height: 1.6em;
  font-size: 11px;
  }
pre {
  padding: 0.1em 0.5em 0.3em 0.7em;
  border-left: 11px solid #ccc;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 93%;
  }
/* target IE7 and IE6 */
*:first-child+html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto; 
  }
* html pre { 
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
  }












UL { list-style-type: none; }
OL { 
  list-style-type: upper-roman; 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: large;
  font-style: normal;
  line-height: 1.5em;
  font-weight: bold;
  font-variant: normal;
/*  text-transform: none;*/
  color: #224568;
/*  text-decoration: none;
  background-color: #CCCCCC;
  text-indent: 5px;
  list-style-position: outside;
  list-style-image: url(arrow.gif);
  list-style-type: square;*/
  padding-left: 55px;
  /*margin: 30px;*/
}
UL { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: large;
  font-style: normal;
  line-height: 1.5em;
  font-weight: bold;
  font-variant: normal;
/*  text-transform: none;*/
  color: #224568;
/*  text-decoration: none;
  background-color: #CCCCCC;
  text-indent: 5px;
  list-style-position: outside;
  list-style-image: url(arrow.gif);
  list-style-type: square;*/
  padding-left: 0;
  /*margin: 30px;*/
}
OL OL { 
  list-style-type: upper-alpha; 
  font-size: small;
  color: #000;
  line-height: 1.3em;
  padding-left: 15px;
}
UL UL { 
  font-size: small;
  color: #000;
  line-height: 1.3em;
  padding-left: 15px;
}
OL OL OL { 
  list-style-type: decimal; 
  font-size: x-small;
  font-weight: normal;
  line-height: 1.15em;
}
UL UL UL { 
  font-size: x-small;
  font-weight: normal;
  line-height: 1.15em;
}
OL OL OL OL { list-style-type: lower-alpha; }
OL OL OL OL OL { list-style-type: lower-roman; }

#jump_to, #jump_page {
  background: white;
  border-bottom: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  cursor: pointer;
  text-align: right;
}
#jump_to, #jump_wrapper {
  position: fixed;
  right: 0; top: 0;
  padding: 5px 30px;
}
  #jump_wrapper {
    padding: 0;
    display: none;
  }
    #jump_to:hover #jump_wrapper {
      display: block;
    }
    #jump_page {
      padding: 5px 0 3px;
      margin: 0 0 25px 25px;
    }
      #jump_page .source {
        display: block;
        padding: 5px 30px;
        text-decoration: none;
        border-top: 1px solid #eee;
      }
        #jump_page .source:hover {
          background: #f5f5ff;
        }
        #jump_page .source:first-child {
        }