extends ../layout

block content
  h1= title
  ul    
    li
      a(href="docs/d1/d1-a") d1/d1-a    
    li
      a(href="docs/d1/d1-b") d1/d1-b    
    li
      a(href="docs/d1/d11/d11-a") d1/d11/d11-a    
    li
      a(href="docs/d1/d11/d11-b") d1/d11/d11-b    
    li
      a(href="docs/d1/d12/d12-a") d1/d12/d12-a    
    li
      a(href="docs/d1/d12/d12-b") d1/d12/d12-b    
    li
      a(href="docs/d1/d12/d121/d121-a") d1/d12/d121/d121-a    
    li
      a(href="docs/test") test