!!! 5
html
  head
    meta(charset="utf-8")
    link(rel='stylesheet', media='screen', href='/stylesheets/omd.css')
  body(lang='en')
    a(href="/") Home | 
    a(href="/docs") Docs
    ol
      li
        | Test Outline 
        ul
          li
            | I
            ol
              li
                | ordered heading
                pre 
                  | it "should be generate a .jade file", ->
                  |   fs.existsSync(dstJadeFile).should.equal true
              li
                | 
                a(href="http://jw.org/") http://jw.org/
                | 
                ul
                  li
                    | 1 
                  li
                    | 2 
                    a(href="http://xchg.com/") http://xchg.com/
                    |  Bible Search Engine
          li
            | II
            ul
              li
                | A
                ul
                  li
                    | 1 
                    a(href="http://github.com") GitHub
                    | 
